---
Checks: '
clang-analyzer-*,
clang-cppcoreguidelines-*,
clang-modernize-*,
bugprone-*,
readability-*,
performance-*,
portability-*,
cert-*,
hicpp-*'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
