---
Checks: '-*,clang-*,bugprone-*,cppcoreguidelines-*,modernize-*,google-*,
-modernize-use-trailing-return-type,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-owning-memory,
-clang-diagnostic-pragma-once-outside-header,
-bugprone-exception-escape,
-clang-diagnostic-c++17-extensions'
AnalyzeTemporaryDtors:  false
FormatStyle:            file
...
