*.zip
*.vcxproj
*.vcxproj.filters
*.obj
*.o
*.exe
*.out
*.pro
*.sln

################################
########### FOLDERS ############
################################
Programmierprojekt1/Video1/
Programmierprojekt1/Video2/
Programmierprojekt1/Video3/
Programmierprojekt1/Video4/

Programmierprojekt2/Video1/
Programmierprojekt2/Video2/
Programmierprojekt2/Video3/

Computerspiel2/Video1
Computerspiel2/Video2

Computerspiel3/Video1
Computerspiel3/Video2

Computerspiel4/Video1
Computerspiel4/Video2

Computerspiel5/Video1
Computerspiel5/Video2
Computerspiel5/Video3

GUIPrime/Video2
GUIPrime/Video3
GUIPrime/Video4
GUIPrime/Video5

GUIComputerspiel/Video1
GUIComputerspiel/Video2
GUIComputerspiel/Video3
GUIComputerspiel/Video4
GUIComputerspiel/Video5
GUIComputerspiel/Video6

# directories
build/
html/
latex/
Slides/
.vs/
.vscode/

################################
############ C/C++ #############
################################
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
##### C
# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

################################
########### VS CODE ############
################################
*.code-workspace
.history/
*.zip

################################
######## VISUAL STUDIO #########
################################
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# Chutzpah Test files
_Chutzpah*
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap
# Visual Studio Trace Files
*.e2e
